nav{
    background-color: #C0A9BD;
    color:#f30000;
}  

main{
    color:#64766A;
    background-color:  #F4F2F4;
}

section{
    color:whitesmoke;
    background-color: #94A7AE;
}

footer{
    color:white;
    background-color: #C0A9BD;
}